body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
overflow: hidden;}

header {
    background-color: #333; 
    color: white; 
    padding: 1rem 0; 
    text-align: center;}

nav {
    display: flex; 
    justify-content: right; 
    gap: 2rem;}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.3s;}

nav a:hover {
    background-color: #555;}
    
    .imagedefond { 
    background-image: url("photo-1613019435367-6adf98fb2e44.jpg");
    background-color: grey;
    background-size: cover;
    background-position: center;
    
    }
.text1 {
    bottom: 60px;
    right: 20px;
    color: #adcce9;
    font-size: 24px;
    font-family: Arial, sans-serif;}
.text2 {
    bottom: 20px;
    right: 20px;
    color: #db545a;
    font-size: 24px;
    font-family: Arial, sans-serif;   
}
