body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;}

header {
    background-color: #333; 
    color: white; 
    padding: 1rem 0; 
    text-align: center;}

nav {
    display: flex; 
    justify-content: right; 
    gap: 2rem;}

nav a {
    color: #ffffff; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.3s;}

nav a:hover {
    background-color: #555;}
    
.Acceuil{ 
    background-image: url("photo-1613019435367-6adf98fb2e44.jpg");
    background-color: grey;
    background-size: cover;
    background-position: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 66px;
    position: absolute;  }
.text1 {
    position: absolute;
    bottom: 90px;
    right: 20px;
    color: #adcce9;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;}
.text2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #db545a;
    font-size: 55px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;      
}
