body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1583395145517-1e3177037600?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRhaXdhbnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;}

header {
    background-color: #333; 
    color: white; 
    padding: 1rem 0; 
    text-align: center;}

nav {
    display: flex; 
    justify-content: right; 
    gap: 2rem;}

nav a {
    color: #ffffff; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.3s;}

nav a:hover {
    background-color: #555;}
aside {
    width: 400px;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #1a5b79;
    position: absolute;
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  }
  .Pre{
    width: 500px;
    height: 300px;
    float: right;
  }
  .Formosa{
    width: 400px;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #1a5b79;
    position: absolute;
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  position: absolute;
  top: 400px;

  }
  .Ilha{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 400px;
    right: 0px
  }