body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
overflow: hidden;}

header {
    background-color: #333; 
    color: white; 
    padding: 1rem 0; 
    text-align: center;}

nav {
    display: flex; 
    justify-content: right; 
    gap: 2rem;}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.3s;}

nav a:hover {
    background-color: #555;}
    
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('C:\Users\noah1\Documents\Site web Html\Web\TP-WEB-Vacances\photo-1613019435367-6adf98fb2e44.jpg');
    background-size: cover;
    background-position: center;}
.text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Arial, sans-serif;}
